// colors
$linkColor: rgb(132, 132, 132);
$linkHoverColor: rgb(106, 106, 106);
$primaryColor: #3b4c73;
$secondaryColor: #fed31a;
$successColor: #28a745;
$warningColor: #ffc107;
$dangerColor: #dc3545;
$darkerBlueBackground: #1e293b;

// fonts
$fontPrimary: 'Caveat Brush', cursive;
$fontSecondary: 'Arial', sans-serif;
$primaryTextColor: #333;

// other
$borderRadius: 5px;